.gallery {
	padding: 80px 0;

	&__collections_container {
		margin-top: 60px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: 30px;
		row-gap: 40px;
	}

	&__collection {
		width: 330px;
		display: grid;
		grid-template-columns: repeat(3, 100px);
		grid-auto-rows: auto;
		gap: 15px;
	}

	&__image_main {
		width: 100%;
		grid-column: span 3;
		grid-row: 1;
		border-radius: 20px;
	}

	&__image_small_1,
	&__image_small_2,
	&__image_small_3 {
		grid-row: 2;
		border-radius: 20px;
	}

	&__image_small_1 {
		grid-column: 1;
	}

	&__image_small_2 {
		grid-column: 2;
	}

	&__image_small_3 {
		grid-column: 3;
	}

	&__collection_name {
		grid-column: span 3;
		grid-row: 3;

		font-family: 'Work Sans';
		font-size: 22px;
		font-weight: 600;
		line-height: 140%;
		color: var(--color-light);
	}

	&__author {
		grid-column: span 3;
		grid-row: 4;
	}
}

@media (max-width: 1090px) {
	.gallery {
		&__collection:nth-last-child(-n + 1) {
			display: none;
		}
	}
}

@media (max-width: 834px) {
	.gallery {
		padding: 40px 0;
	}
}

@media (max-width: 375px) {
	.gallery {
		&__collection {
			width: 315px;
			grid-template-columns: repeat(3, 95px);
		}

		&__collection:nth-last-child(-n + 2) {
			display: none;
		}
	}
}
