.gallery {
	padding: 80px 0;

	&__collections_container {
		display: flex;
		flex-wrap: wrap;
		gap: 40px 30px;
		justify-content: center;

		margin-top: 60px;
	}

	&__collection {
		display: grid;
		grid-auto-rows: auto;
		grid-template-columns: repeat(3, 100px);
		gap: 15px;

		width: 330px;
	}

	&__image_main {
		grid-column: span 3;
		grid-row: 1;
		width: 100%;
		border-radius: 20px;
	}

	&__image_small_1,
	&__image_small_2,
	&__image_small_3 {
		grid-row: 2;
		border-radius: 20px;
	}

	&__image_small_1 {
		grid-column: 1;
	}

	&__image_small_2 {
		grid-column: 2;
	}

	&__image_small_3 {
		grid-column: 3;
	}

	&__collection_name {
		grid-column: span 3;
		grid-row: 3;

		font-family: 'Work Sans';
		font-size: 22px;
		font-weight: 600;
		line-height: 140%;
		color: var(--color-light);
	}

	&__author {
		grid-column: span 3;
		grid-row: 4;
	}
}

@media (max-width: 1090px) {
	.gallery {
		&__collection:nth-last-child(-n + 1) {
			display: none;
		}
	}
}

@media (max-width: 834px) {
	.gallery {
		padding: 40px 0;
	}
}

@media (max-width: 375px) {
	.gallery {
		&__collection {
			grid-template-columns: repeat(3, 95px);
			width: 315px;
		}

		&__collection:nth-last-child(-n + 2) {
			display: none;
		}
	}
}
