.footer {
    padding: 40px 0;
    background-color: var(--color-neutral);
}

.footer__info,
.footer__page-link,
.footer .join-digest__text,
.footer .join-our-community__text {
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 140%;
    color: var(--color-neutral-lighter);
}

.footer__subtitle {
    font-family: "Space Mono";
    font-size: 22px;
    font-weight: 700;
    font-style: normal;
    line-height: 160%;
    color: var(--color-light);
    text-transform: capitalize;
}

.footer__subtitle-1 {
    grid-area: footer__subtitle-1;
}

.footer__subtitle-2 {
    grid-area: footer__subtitle-2;
}

.footer__body {
    display: grid;
    grid-auto-rows: auto;
    grid-template-areas:
        "footer-logo footer__subtitle-1 footer__subtitle-2"
        "footer__info footer__wrapper-page-links join-digest"
        "join-our-community footer__wrapper-page-links join-digest";
    grid-template-columns: repeat(3, auto);
    column-gap: 20px;
    place-items: start;
    justify-content: space-between;
    justify-items: start;
}

.footer-logo {
    display: flex;
    grid-area: footer-logo;
    gap: 0 12px;
    align-items: center;
}

.footer-logo__icon {
    width: 32px;
    height: 32px;
}

.footer-logo__name {
    height: 20px;
    margin-top: 3px;
}

.footer__info {
    grid-area: footer__info;
    max-width: 238px;
    margin-top: 30px;
}

.footer .join-our-community {
    grid-area: join-our-community;
    margin-top: 20px;
}

.footer .join-our-community__wrapper-links {
    display: flex;
    column-gap: 10px;
    margin-top: 15px;
}

.footer__wrapper-page-links {
    display: grid;
    grid-area: footer__wrapper-page-links;
    grid-auto-rows: auto;
    grid-template-columns: auto;
    row-gap: 20px;
    justify-items: start;

    margin-top: 25px;
}

.footer__page-link {}

.footer__page-link::after {
    content: '';

    display: block;

    width: 0;
    height: 1px;
    margin-top: 1px;

    background: var(--color-primary);
}

.footer .join-digest {
    grid-area: join-digest;
    margin-top: 25px;
}

.footer .join-digest__text {
    max-width: 330px;
}

.footer__divider {
    display: block;

    width: 100%;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 20px;

    background-color: var(--color-neutral-light);
}

.footer__copyright-mark {
    font-family: "Work Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 110%;
    color: var(--color-neutral-lighter);
}

@media (hover: hover) {
    .footer .join-our-community__link:hover #evenodd {
        fill: var(--color-primary);
    }

    .footer .join-our-community__link:hover #evenodd-stroke {
        stroke: var(--color-primary);
    }

    .footer__page-link:hover {
        color: var(--color-primary);
    }

    .footer__page-link:hover::after {
        width: 100%;
        transition: width var(--transition-hover);
    }
}

@media (hover: none) {
    .footer .join-our-community__link:active #evenodd {
        fill: var(--color-primary);
    }

    .footer .join-our-community__link:active #evenodd-stroke {
        stroke: var(--color-primary);
    }

    .footer__page-link:active {
        color: var(--color-primary);
    }

    .footer__page-link:active::after {
        width: 100%;
    }
}

@media (width <=834px) {
    .footer__subtitle {
        margin-top: 30px;
    }

    .footer__body {
        grid-template-areas:
            "footer-logo"
            "footer__info"
            "join-our-community"
            "footer__subtitle-1"
            "footer__wrapper-page-links"
            "footer__subtitle-2"
            "join-digest";
        grid-template-columns: 100%;
    }

    .footer__info {
        max-width: 100%;
        margin-top: 20px;
    }

    .footer__wrapper-page-links {
        margin-top: 20px;
    }

    .footer .join-digest {
        margin-top: 20px;
    }

    .footer .join-digest__text {
        max-width: 100%;
    }

    .footer__divider {
        margin-top: 50px;
    }
}

@media (width <=520px) {}

@media (width <=375px) {}