.header {
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    left: 0;

    max-width: var(--width-page);
    margin: 0 auto;
}

.header::before {
    content: '';

    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: var(--color-dark);
    background: linear-gradient(180deg, rgb(43 43 43 / 100%) 60%, rgb(43 43 43 / 90%) 93%, rgb(43 43 43 / 34.8%) 100%);

}

.header__body {
    position: relative;
    
    display: flex;
    gap: 0 20px;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;

    padding: 20px 0;
    padding-right: 50px;
    padding-left: 50px;
}

.header-logo {
    position: relative;
    z-index: 3;

    display: flex;
    gap: 0 12px;
    align-items: center;
}

.header-logo__icon {
    width: 32px;
    height: 32px;
}

.header-logo__name {
    height: 20px;
    margin-top: 3px;
}

.header__burger {
    display: none;
}

.header__nav {
    position: relative;
    z-index: 2;

    display: flex;
    gap: 0 10px;
    align-items: center;
}

.header__nav-link {
    padding: 10px 0;
    padding-right: 20px;
    padding-left: 20px;

    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    color: var(--color-light);
    text-align: center;
}

.header__nav-link::after {
    content: '';

    display: block;

    width: 0;
    height: 2px;
    margin-top: 2px;

    background: var(--color-light);
}

.header__btn-sign-up {
    padding: 0 30px;
    background-color: var(--color-primary)
}

@media (hover: hover) {
    .header__nav-link:hover::after {
        width: 100%;
        transition: width var(--transition-hover);
    }

    .header__btn-sign-up:hover {
        background-color: var(--color-light);
        transition: var(--transition-hover);
    }

    .header__btn-sign-up:hover p {
        color: var(--color-primary);
        transition: var(--transition-hover);
    }

    .header__btn-sign-up:hover svg #evenodd {
        fill: var(--color-primary);
        transition: var(--transition-hover);
    }
}

@media (hover: none) {
    .header__nav-link:active::after {
        width: 100%;
    }

    .header__btn-sign-up:active {
        background-color: var(--color-light);

    }

    .header__btn-sign-up:active p {
        color: var(--color-primary);

    }

    .header__btn-sign-up:active svg #evenodd {
        fill: var(--color-primary);

    }
}

@media (max-width: 1280px) {
    .header__body {
        padding-right: calc(20px + (50 - 20) * ((100vw - 834px) / (1280 - 834)));
        padding-left: calc(20px + (50 - 20) * ((100vw - 834px) / (1280 - 834)));
    }

    .header__nav-link {
        padding-right: calc(5px + (20 - 5) * ((100vw - 834px) / (1280 - 834)));
        padding-left: calc(5px + (20 - 5) * ((100vw - 834px) / (1280 - 834)));
    }

    @media (max-width: 834px) {
        body.lock {
            overflow: hidden;
        }

        .header__body {
            padding: 15px 0;
            padding-right: 50px;
            padding-left: 50px;
        }

        .header__burger {
            position: relative;
            z-index: 3;

            display: block;

            width: 24px;
            height: 24px;
        }

        .header__burger span {
            position: absolute;
            top: 11px;
            left: 0;

            width: 100%;
            height: 2px;

            background-color: var(--color-light);

            transition: var(--transition-fast);
        }

        .header__burger::before,
        .header__burger::after {
            content: '';

            position: absolute;
            left: 0;

            width: 70%;
            height: 2px;

            background-color: var(--color-light);

            transition: var(--transition-fast);
        }

        .header__burger::before {
            top: 0;
        }

        .header__burger::after {
            bottom: 0;
        }

        .header__burger.active span {
            transform: scale(0);
        }

        .header__burger.active::before {
            top: 11px;
            transform: rotate(45deg);
            width: 100%;
        }

        .header__burger.active::after {
            bottom: 11px;
            transform: rotate(-45deg);
            width: 100%;
        }

        .header__nav {
            position: fixed;
            top: 0;
            left: +100%;

            overflow: auto;
            flex-direction: column;
            gap: 15px 0;

            width: 100%;
            height: 100%;
            padding-top: 100px;

            background-color: var(--color-dark);

            transition: var(--transition-fast);
        }

        .header__nav.active {
            left: 0;
        }

        .header__nav-link {
            padding: 15px 0;
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    @media (max-width: 375px) {
        .header-logo__name {
            display: none;
        }
    }
}