.new-trending-nfts {
    display: grid;
    grid-auto-rows: auto;
    grid-template-areas:
        "new-trending-nfts__title new-trending-nfts__btn"
        "new-trending-nfts__descr new-trending-nfts__btn"
        "new-trending-nfts__nft-cards new-trending-nfts__nft-cards";
    grid-template-columns: auto auto;
    column-gap: 20px;

    padding-top: 80px;
    padding-bottom: 80px;
}

.new-trending-nfts__title {
    grid-area: new-trending-nfts__title;
}

.new-trending-nfts__descr {
    grid-area: new-trending-nfts__descr;
}

.new-trending-nfts__btn {
    grid-area: new-trending-nfts__btn;
    align-self: end;
    justify-self: end;

    padding: 0 50px;

    border: 2px solid;
    border-color: var(--color-primary);
}

.new-trending-nfts__nft-cards {
    display: grid;
    grid-area: new-trending-nfts__nft-cards;
    grid-template-columns: repeat(auto-fill, 330px);
    gap: 30px;
    justify-content: center;

    margin-top: 60px;
}

@media (hover: hover) {
    .new-trending-nfts__btn:hover {
        background-color: var(--color-light);
        border-color: var(--color-light);
        transition: var(--transition-hover);
    }

    .new-trending-nfts__btn:hover p {
        color: var(--color-primary);
        transition: var(--transition-hover);
    }
}

@media (hover: none) {
    .new-trending-nfts__btn:active {
        background-color: var(--color-light);
        border-color: var(--color-light);
    }

    .new-trending-nfts__btn:active p {
        color: var(--color-primary);
    }
}

@media (width <=1089px) {
    .new-trending-nfts__nft-cards>*:nth-child(n+3) {
        display: none;
    }
}

@media (max-width: 834px) {
    .new-trending-nfts {
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .new-trending-nfts__nft-cards {
        margin-top: 40px;
    }
}

@media (max-width: 520px) {
    .new-trending-nfts {
        padding-bottom: 60px;
    }

    .new-trending-nfts {
        grid-template-areas:
            "new-trending-nfts__title new-trending-nfts__title"
            "new-trending-nfts__descr new-trending-nfts__descr"
            "new-trending-nfts__nft-cards new-trending-nfts__nft-cards"
            "new-trending-nfts__btn new-trending-nfts__btn";
    }

    .new-trending-nfts__btn {
        align-self: center;
        justify-self: center;
        width: 330px;
        margin-top: 40px;
    }

    .new-trending-nfts__nft-cards {
        grid-template-columns: repeat(auto-fill, 315px);
        gap: 20px;
    }
}