.top-creators {
    display: grid;
    grid-auto-rows: auto;
    grid-template-areas:
        "top-creators__title top-creators__btn"
        "top-creators__descr top-creators__btn"
        "top-artist-cards top-artist-cards";
    grid-template-columns: auto auto;
    column-gap: 20px;

    padding: 80px 0;
}

.top-creators__title {
    grid-area: top-creators__title;
}

.top-creators__descr {
    grid-area: top-creators__descr;

    margin-top: 10px;

    font-family: "Work Sans";
    font-size: 22px;
    font-weight: 400;
    line-height: 160%;
    color: var(--color-light);
    text-transform: capitalize;
}

.top-creators__btn {
    grid-area: top-creators__btn;
    align-self: end;
    justify-self: end;

    padding: 0 50px;

    border: 2px solid;
    border-color: var(--color-primary);
}

.top-artist-cards {
    display: grid;
    grid-area: top-artist-cards;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 30px;
    justify-content: center;

    margin-top: 60px;
}

@media (hover: hover) {
    .top-creators__btn:hover {
        background-color: var(--color-light);
        border-color: var(--color-light);
        transition: var(--transition-hover);
    }

    .top-creators__btn:hover p {
        color: var(--color-primary);
        transition: var(--transition-hover);
    }
}

@media (hover: none) {
    .top-creators__btn:active {
        background-color: var(--color-light);
        border-color: var(--color-light);
    }

    .top-creators__btn:active p {
        color: var(--color-primary);
    }
}

@media (width <=834px) {
    .top-creators {
        padding: 40px 0;
    }

    .top-creators__descr {
        font-size: 16px;
        line-height: 140%;
    }

    .top-creators__btn {
        padding: 0 30px;
    }

    .top-artist-cards {
        grid-template-columns: repeat(auto-fill, 330px);
        margin-top: 40px;
    }

    .top-artist-cards>*:nth-child(n+7):nth-child(-n+12) {
        display: none;
    }
}

@media (width <=520px) {
    .top-creators {
        grid-template-areas:
            "top-creators__title top-creators__title"
            "top-creators__descr top-creators__descr"
            "top-artist-cards top-artist-cards"
            "top-creators__btn top-creators__btn";
    }

    .top-creators__btn {
        align-self: center;
        justify-self: center;
        width: 330px;
        margin-top: 40px;
    }

    .top-artist-cards {
        gap: 20px;
    }

    .top-artist-cards>*:nth-child(n+6):nth-child(-n+12) {
        display: none;
    }
}