/* 
<div class="creator-card">
        <span class="creator-card__number">1</span>
        <img src="images/keepitreal_avatar.png" alt="creator avatar" class="creator-card__avatar">
        <p class="creator-card__name">Keepitreal</p>
        <div class="creator-card__additional-info">
            <p class="creator-card__designation">Total Sales:</p>
            <p class="creator-card__total-amount">34.53 ETH</p>
        </div>
    </div> 
*/

.creator-card {
    position: relative;

    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 100%;
    justify-items: center;

    width: 200px;
    height: 198px;
    padding: 20px;

    background-color: var(--color-neutral);
    border-radius: 20px;
}

.creator-card__number {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: start;

    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;

    font-family: "Space Mono";
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: var(--color-neutral-light);

    background-color: var(--color-dark);
    border-radius: 100%;
}

.creator-card__avatar {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.creator-card__name {
    margin-top: 20px;

    font-family: "Work Sans";
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
    color: var(--color-light);
    text-align: center;
    text-transform: capitalize;
}

.creator-card__additional-info {
    display: flex;
    gap: 0 10px;
    justify-content: center;
    margin-top: 5px;
}

.creator-card__designation {
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: var(--color-neutral-light);
    text-align: right;
}

.creator-card__total-amount {
    font-family: "Space Mono";
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: var(--color-light);
}

@media (width <=834px) {
    .creator-card {
        grid-auto-rows: auto;
        grid-template-columns: auto auto;
        column-gap: 20px;
        justify-items: start;

        width: 290px;
        height: 60px;
    }

    .creator-card__number {
        margin-top: 12px;
        margin-left: 12px;
    }

    .creator-card__avatar {
        grid-row: span 2;
        width: 60px;
        height: 60px;
    }

    .creator-card__name {
        margin-top: 0;
    }
}