:root {
    --width-page: 1280px;

    /* colors */
    --color-primary: #A259FF;

    --color-light: #fff;
    --color-dark: #2B2B2B;

    --color-neutral: #3B3B3B;
    --color-neutral-light: #858584;
    --color-neutral-lighter: #ccc;

    /* transition */
    --transition-hover: .3s;
    --transition-fast: .1s;
}